*{
    padding :0;
    margin:0;
    font-family: "Segoe UI Semibold";
    text-decoration: none;
}
.background{
    height: 100%;
    width:100%;
    z-index: -1;
    position: absolute;
    background:   -webkit-linear-gradient(45deg, #0c2461, #3498db, #0a3d62);
    background:   -moz-linear-gradient(45deg, #0c2461, #3498db, #0a3d62);
    background:   -ms-linear-gradient(45deg, #0c2461, #3498db, #0a3d62);
}
.d-flex{
    height:100vh;
    border-radius: 10px;
}
#fade1{
    width:38%;
}
#fade2{
    width:43%;
}
#fade3{
    width:35%;
}
.card{
    margin-left:2px;
    width:47%;
}
.card-title{
    font-size:20px;
    color:#1b4b72;
}
.d-inline-flex{
    height:50%;
    width:98%;
}
.animate{
    height:8px;
}
